html,
body {
    --ukrainski-niebieski: #284878;
    height: 100%;
}
.role-picker {
    height: 100%;
    background-color: var(--ukrainski-niebieski);
}
.role-picker-button {
    height: 30vh;
    background: white;
    width: 30vh;
}
.role-picker-button-distancer {
    height: 5vh;
}