html {
    --ukrainski-niebieski: #284878;
    /*z flagi*/
    --ukrainski-zolty: #FFD700;
    --bialy: white;
}
body{
    margin: 0;
    font-family: Roboto,sans-serif;
}
a {
    text-decoration: none;
}
div {}