.main {
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;

    color: var(--ukrainski-niebieski);

    .familyTitle {
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .familyMembers {

        ul {
            list-style-type: none;
            padding-left: 0;
            margin: 0;
        }

        .familyMember {
            font-size: 15px;
            font-weight: bold;
            -webkit-box-shadow: 0px 0px 4px 0px rgba(66, 68, 90, 0.25);
            -moz-box-shadow: 0px 0px 4px 0px rgba(66, 68, 90, 0.25);
            box-shadow: 0px 0px 4px 0px rgba(66, 68, 90, 0.25);
            border-radius: 10px;
            margin-top: 20px;
            padding-left: 20px;
            padding-top: 15px;
            padding-bottom: 15px;
            display: flex;

            .editIcon {
                padding-right: 20px;

                img {
                    height: 20px;
                    margin-left: 10px;
                    margin-right: 5px;
                }
                
            }
        }
    }

    .addFamilyMember {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 70px;
        left: 0;
        width: 100%;
        img {
            height: 60px;
            margin-left: 10px;
            margin-right: 5px;
        }
    }

    .search {
        ul {
            padding-left: 0;
            margin: 0;
        }

        .search__title {
            font-size: 30px;
            margin-top: 50px;
            margin-bottom: 50px;
            margin-left: 10px;
        }
    }

    .searchItem {
        display: flex;
        height: 120px;
        position: relative;

        -webkit-box-shadow: 0px 0px 4px 0px rgba(66, 68, 90, 0.25);
        -moz-box-shadow: 0px 0px 4px 0px rgba(66, 68, 90, 0.25);
        box-shadow: 0px 0px 4px 0px rgba(66, 68, 90, 0.25);
        border-radius: 10px;

        margin-top: 13px;


        .searchItem__leftContent,
        .searchItem__rightContent {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .searchItem__rightContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--ukrainski-szary-tlo);
        }

        .searchListItem__image {
            height: 100%;
            
            img {
                height: 100%;
            }
        }

        .searchListItemContent {
            display: flex;
            width: 100%;
            flex-direction: column;
            flex: 1;
            align-items: flex-end;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-top: 10px;

            font-size: 14px;

            .searchListItemContent__name {
                font-size: 18px;
                font-weight: bolder;
            }

            .searchListItemContent__date {
                color: var(--ukrainski-szary)
            }

            .searchListItemContent__details {

                display: flex;
                flex-direction: row;
                flex-direction: flex-end;
                align-items: center;

                span,
                img {
                    color: var(--ukrainski-szary-ciemny);
                }

                img {
                    height: 12px;
                    margin-left: 10px;
                    margin-right: 5px;
                }
            }
        }
    }
}

.tabbar {
    background-color: var(--ukrainski-niebieski);
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    .tabbar__item,
    .tabbar__item--active {
        flex: 1;
        text-align: center;
        font-size: 20px;
        color: white;
        border-right: .2px solid white;
        border-left: .2px solid white;
        height: 100%;

        transition: background-color .2s ease-in-out;

        .tabbar__item__icon {
            
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 22px;
            }
        }
    }

    .tabbar__item {
        background-color: transparent;
    }

    .tabbar__item--active {
        background-color: var(--ukrainski-niebieski-lighten);
    }
}

.spacer {
    flex: 1;
}

.modal, 
.modal--hidden {
    .backdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.2;
        top: 0;
        left: 0;
    }

    .content {
        position: absolute;
        width: 90%;
        height: 300px;
        background-color: white;
        transform: translateY(-50%);
        border-radius: 8px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 0.6);
        -moz-box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 0.6);
        box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 0.6);
    }
}

.modal {
    opacity: 1;
    pointer-events: initial;
}

.modal--hidden {
    opacity: 0;
    pointer-events: none;
}